<h2 mat-dialog-title>{{ isEdit ? 'Modifier la tâche' : 'Nouvelle tâche' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="form-grid" style="margin-top: 8px;">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Titre *</mat-label>
      <input matInput formControlName="title" placeholder="Ex: Intégrer Stripe">
      <mat-error *ngIf="form.get('title')?.hasError('required')">Le titre est requis</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="3" placeholder="Détails de la tâche..."></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Statut</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let s of statuses" [value]="s.value">{{ s.label }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Priorité</mat-label>
      <mat-select formControlName="priority">
        <mat-option *ngFor="let p of priorities" [value]="p.value">{{ p.label }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Assigné à</mat-label>
      <mat-select formControlName="assigneeId">
        <mat-option [value]="null">Non assigné</mat-option>
        <mat-option *ngFor="let member of data.members" [value]="member.id">
          {{ member.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date limite</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button *ngIf="isEdit" class="delete-btn" color="warn" (click)="delete()">
    <mat-icon>delete</mat-icon> Supprimer
  </button>
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-flat-button color="primary" (click)="submit()" [disabled]="form.invalid">
    {{ isEdit ? 'Enregistrer' : 'Créer' }}
  </button>
</mat-dialog-actions>
